.bannert {
  position: relative;
  overflow: hidden;
  padding: 280px 0 240px 0;
  background-color: $dark-grey;


  @include mobile {
    padding: 0 0 45px;
  }

  &__imgMobile {
    display: none;

    width: 100%;

    @include mobile {
      display: block;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 61vw;
    max-width: 958px;
    height: auto;
    object-fit: contain;
    pointer-events: none;

    @include small-tablet {
      display: none;
    }
  }

  &__wrapp {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;

    @include mobile {
      gap: 35px;
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 18px 60px;
      background-color: $green;
      font-family: $font-family;
      font-weight: 600;
      font-size: 24px;
      line-height: 110%;
      color: $white;
      transition: background-color 0.3s ease, color 0.3s ease;

      @include mobile {
        width: 100%;
        padding: 21px 24px;
        font-size: 18px;
      }

      &:hover {
        background-color: $white;
        border: 1px solid transparent;
        color: #000;
      }

      &:active {
        background-color: #505050;
        border: 1px solid transparent;
        color: $light-grey;
      }
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    max-width: 750px;

    @include tablet {
      max-width: 630px;
    }

    @include mobile {
      gap: 35px;
    }

    @media (max-width: 313px) {
      max-width: 313px;
    }

    h1 {
      font-family: $font-family;
      font-weight: 500;
      font-size: 60px;
      line-height: 110%;
      color: $white;

      @include tablet {
        font-size: 48px;
      }

      @include mobile {
        font-size: 32px;
      }
    }

    h2 {
      font-family: $font-family;
      font-weight: 400;
      font-size: 24px;
      line-height: 110%;
      color: $white;

      @include mobile {
        font-size: 16px;
      }
    }
  }
}

.swiperContainer {
  @include mobile {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.catalogPreview {
  background-color: $white;


  &__wrapp {
    margin: 62px 0 0 0;

    position: relative;

    @include mobile {
      margin: 22px 0 0 0;
    }
  }



  &__item {
    display: flex;
    gap: 12px;
    margin-bottom: 40px;

    @include tablet {
      flex-wrap: wrap;
    }

    @media (max-width: 576px) {
      justify-content: center;
    }

    @include mobile {
      padding: 0 52px 0 52px;
      gap: 14px;
      margin-bottom: 30px;
    }

    a {
      width: 255px;
      border-radius: 5px;
      padding: 15px 20px;
      background-color: $dark-grey;
      font-family: $font-family;
      font-weight: 600;
      font-size: 20px;
      line-height: 110%;
      color: $white;

      @include mobile {
        font-size: 16px;
      }

      &:hover {
        background-color: $green;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    img {
      width: calc((100% - 40px) / 3);
      aspect-ratio: 444 / 395;
      border-radius: 5px;

      @include tablet {
        width: calc((100% - 20px) / 2);
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}

.about {
  background-color: $white;

  margin: 74px 0 114px;

  @include mobile {
    margin: 70px 0 40px 0;
  }


  &__wrapp {

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 65px;

    @include mobile {
      gap: 20px;
    }


  }


  &__top {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @include mobile {
      gap: 20px;
    }

    h2 {
      max-width: 600px;
      font-family: $font-family;
      font-weight: 600;
      font-size: 40px;
      line-height: 110%;
      color: $dark-grey;

      @include mobile {
        font-size: 26px;
      }
    }
  }

  &__title {
    font-family: $font-family;
    font-weight: 550;
    font-size: 22px;
    line-height: 110%;
    text-transform: uppercase;
    color: $dark-grey;

    @include mobile {
      font-size: 14px;
    }
  }

  &__desc {
    max-width: 1130px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: $dark-grey;

    @include mobile {
      font-size: 16px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include mobile {
      gap: 10px;
    }
  }

  &__card {
    position: relative;
    width: calc((100% - 40px) / 3);
    border-radius: 5px;
    padding: 0 45px 60px 20px;
    background-color: $dark-grey;

    &:nth-child(2) {
      background-color: $green;
    }

    @include tablet {
      width: calc((100% - 20px) / 2);
    }

    @include small-tablet {
      width: 100%;
      padding: 0 35px 35px 15px;
    }

    @include mobile {
      padding: 0 35px 28px 12px;
    }

    svg {
      position: absolute;
      top: 40px;
      right: 55px;
      width: 54px;
      height: 52px;

      @include small-tablet {
        top: 28px;
        right: 25px;
        width: 42px;
        height: 42px;
      }
    }

    h3 {
      margin: 120px 0 17px 0;
      font-family: $font-family;
      font-weight: 700;
      font-size: 20px;
      line-height: 110%;
      color: $white;

      @include small-tablet {
        margin-top: 100px;
      }

      @include mobile {
        font-size: 16px;

        margin: 75px 0 18px 0;
      }
    }

    p {
      font-family: $font-family;
      font-weight: 400;
      font-size: 16px;
      line-height: 110%;
      color: $white;

      @include mobile {
        font-size: 13px;
      }
    }
  }
}

.goods {
  padding: 88px 0 0 0;
  background-color: $dark-grey;

  @include mobile {
    padding: 60px 0 0 0;
  }

  &__wrapp {
    display: flex;
    flex-direction: column;

  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-family: $font-family;
      font-weight: 500;
      font-size: 40px;
      line-height: 110%;
      color: $white;

      @include mobile {
        margin-bottom: 13px;
        font-size: 28px;
        order: 1;
      }
    }
  }

  &__link {
    align-self: flex-start;
    font-family: $font-family;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    text-decoration: underline;
    text-decoration-style: dotted;
    color: $green;

    align-self: center;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__mobileLink {

    font-family: $font-family;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    text-decoration: underline;
    text-decoration-style: dotted;
    color: $green;


    display: none;

    @media (max-width: 900px) {
      display: block;
    } 
  }
  

  &__swiperWrapp {
    margin-bottom: 33px;

    @include mobile {
      margin-bottom: 18px;
    }
  }

  &__swiperReviews {
    width: 100%;
    padding: 87px 0 68px;

    @include mobile {
      margin-bottom: 22px;
      padding: 20px 0 55px;
    }
  }

  .swiper-slide {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 390px;
    height: 465px;
    border: 2px solid $white;
    border-radius: 10px;
    background-color: #2c2c2c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.55;
    transition: opacity 0.3s ease, transform 0.3s ease;

    @include small-tablet {
      width: 300px;
      height: 360px;
    }

    a {
      width: calc(100% - 84px);
      margin-bottom: 28px;
      border-radius: 5px;
      padding: 16px 20px;
      background-color: $white;
      font-family: $font-family;
      font-weight: 600;
      font-size: 18px;
      line-height: 110%;
      text-align: center;
      color: $dark-grey;

      @include small-tablet {
        width: calc(100% - 40px);
      }
    }
  }

  .swiper-slide-active {
    opacity: 1;

    @media (min-width: 761px) {
      transform: scale(1.13);
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 1.1;
  }

  --swiper-pagination-bullet-size: 18px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #5c5c5c;
  --swiper-pagination-bullet-inactive-opacity: 1;

  @include mobile {
    --swiper-pagination-bullet-size: 13px;
    --swiper-pagination-bullet-horizontal-gap: 7px;
  }

  .swiper-pagination-bullet-active-prev,
  .swiper-pagination-bullet-active-next {
    background-color: #b3b0b0;
  }
}

.materialsGuide {
  padding: 138px 0 0 0;
  background-color: $dark-grey;

  @include mobile {
    padding: 70px 0 0 0;
  }

  &__wrapp {
    display: flex;
    align-items: center;
    gap: 70px;

    @include tablet {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  &__img {
    position: relative;
    flex-shrink: 0;
    width: 809px;

    @include laptop {
      width: 50%;
    }

    @include tablet {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 516px;
      object-fit: cover;
      aspect-ratio: 809 / 516;

      @include tablet {
        display: none;
      }
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 72px;

      @include tablet {
        display: none;
      }

      @include mobile {
        right: 24px;
        width: 36px;
        height: 58px;
      }
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 46px;
    max-width: 766px;
    padding-right: 18px;

    @include tablet {
      max-width: 100%;
      padding-right: 0;
      padding-left: 18px;
    }

    @include mobile {
      gap: 0;
    }


    h3 {
      font-family: $font-family;
      font-weight: 600;
      font-size: 40px;
      line-height: 110%;
      color: $white;

      @include mobile {
        font-size: 32px;

        margin-bottom: 22px;
      }
    }

    p {
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: $white;

      @include mobile {
        font-size: 14px;
      }
    }
  }

  &__imgMobile {
    position: relative;
    display: none;

    @include tablet {
      display: block;
    }

    img {
      aspect-ratio: 324 / 253;
      width: 100%;

      @include mobile {
        margin-bottom: 30px;
      }
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.form {
  padding: 158px 0 158px;
  background-color: $dark-grey;

  @include mobile {
    padding: 70px 0 70px 0;
  }

  &__wrapp {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #fff;
  }

  &__left,
  &__right {
    border: 1px solid $dark-grey;
    border-radius: 5px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 57%;
    max-width: 785px;
    padding: 70px 50px 70px 67px;
    background-color: $white;

    @include maxdesktop {
      width: 100%;
      padding: 27px 18px 25px 21px;
      max-width: none;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
    max-width: 590px;
    padding: 100px 20px 100px 135px;
    background-color: $dark-grey;

    @include maxdesktop {
      width: 100%;
      max-width: none;
      padding: 58px 18px 76px 21px;
    }

  }

  &__topTitle {
    margin-bottom: 45px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    color: #000;

    @include mobile {
      margin-bottom: 40px;
      font-size: 28px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
      align-self: flex-start;
      border-radius: 5px;
      padding: 12px 80px;
      background-color: $dark-grey;
      font-family: $font-family;
      font-weight: 500;
      font-size: 18px;
      line-height: 110%;
      color: $white;
      transition: background-color 0.3s ease;

      @include mobile {
        width: 100%;
      }

      &:hover {
        background-color: $green;
      }
    }
  }

  form {
    width: 100%;
    margin-bottom: 45px;

    @include mobile {
      margin-bottom: 25px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mobile {
      gap: 7px;
    }
  }

  &__label {
    font-family: $font-family;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    color: #000;
  }

  &__input {
    width: 100%;
    height: 50px;
    border: 1px solid $dark-grey;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: $white;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    color: $dark-grey;
    outline: none;

    &:focus {
      border-color: $green;
    }
  }

  &__rightDesc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 345px;
    margin-bottom: 40px;

    @include tablet {
      max-width: 620px;
    }

    @include mobile {
      gap: 25px;
    }

    h3 {
      font-family: $font-family;
      font-weight: 600;
      font-size: 40px;
      line-height: 110%;
      color: $white;

      @include mobile {
        font-size: 28px;
      }
    }

    p {
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: $white;

      @include mobile {
        font-size: 16px;
      }
    }
  }

  &__rightWrapp {
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $white;
      border-radius: 5px;
      padding: 12px 50px;
      font-family: $font-family;
      font-weight: 500;
      font-size: 18px;
      line-height: 110%;
      color: $white;
      transition: background-color 0.3s ease, color 0.3s ease;

      @include mobile {
        width: 100%;
        padding: 18px 20px;
      }

      &:hover {
        background-color: $white;
        color: $dark-grey;
      }
    }
  }
}

.map {

  padding: 0 0 70px 0;
  background-color: $dark-grey;

  @include mobile {
    padding: 0 0 48px 0;
  }

  &__wrapp {

    iframe {
      border: none;
      height: 424px;
      width: 100vw;

      @include mobile {
        height: 320px;
      }
    }
  }


}