.notFound {
  position: relative;
  overflow: hidden;
  padding: 158px 0 100px;
  background-color: $dark-grey;

  @include mobile {
    padding: 0 0 45px;
  }

&__wrapp{
  @include mobile{
    display: flex;
    justify-content: center;
  }
}

  &__imgMobile {
    opacity: 0;
    visibility: hidden;
    position: absolute;

    width: 100%;

    @include small-tablet {
      opacity: 1;
      visibility: visible;
      position: relative;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 61vw;
    max-width: 958px;
    height: auto;
    object-fit: contain;
    pointer-events: none;

    @include tablet {
      display: none;
    }
  }

  &__content {
    margin-right:  auto;
    max-width: 562px;

    @include tablet{
      margin: 0 auto;
    }

    @include mobile {
      margin: 0;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 318px;


      order: 1;
    }


  }

  &__title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 322px;
    line-height: 110%;
    color: $green;

    @include tablet {
      font-size: 270px;
    }

    @include mobile {
      font-size: 182px;
    }

  }

  &__subtitle {
    text-align: left;
    font-family: $font-family;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: $green;

    margin-bottom: 42px;



    @include mobile {
      font-size: 22px;

      margin-bottom: 22px;
    }
  }

  &__desc {
    font-family: $font-family;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    text-align: left;
    color: #fff;

    margin-bottom: 58px;

    @include mobile {
      font-size: 16px;

      margin-bottom: 20px;
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;


    @include mobile {
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }
  }

  &__btn:nth-child(1) {
    background: $green;
    border: 1px solid transparent;
  }

  &__btn:nth-child(2) {
    background: transparent;
    border: 1px solid $white;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 14px 45px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 22px;
    line-height: 110%;
    color: #fff;
    white-space: nowrap;

    width: 315px;

    @include mobile {
      width: 100%;
      padding: 14px 20px;
      font-size: 22px;
    }

    &:hover {
      background-color: $white;
      border: 1px solid transparent;
      color: #000;
    }

    &:active {
      background-color: #505050;
      border: 1px solid transparent;
      color: $light-grey;
    }

  }
}