<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <a href="#" class="footer__logo">
        <img src="img/icons/logo.svg" alt="Ganesha" />
        <span>Ganesha</span>
      </a>
      <nav class="footer__nav">
        <ul>
          <li><a href="#catalog">Каталог</a></li>
          <li><a href="#about">О нас</a></li>
          <li><a href="#goods">Товары</a></li>
          <li><a href="#form">Контакты</a></li>
        </ul>
      </nav>
      <div class="footer__contact">
        <a href="tel:+78008008888">8 800 800 8888</a>
        <a href="mailto:info@ganesha.ru">info@ganesha.ru</a>
        <p>г. Омск, ул. Почтовая, д. 7</p>
      </div>
      <div class="footer__social">
        <a href="#" aria-label="VK">
          <img src="img/icons/vk.png" alt="" />
        </a>
        <a href="#" aria-label="Telegram">
          <img src="img/icons/tg-foot.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
