      <section class="form" id="form">
        <div class="container">
          <div class="form__wrapp">
            <div class="form__left">
              <h3 class="form__topTitle">Бесплатная консультация</h3>
              <div class="form__inner">
                <form action="">
                  <div class="form__form">
                    <div class="form__field">
                      <label for="name" class="form__label">Ваше имя</label>
                      <input id="name" type="text" class="form__input" required />
                    </div>
                    <div class="form__field">
                      <label for="tel" class="form__label">Номер телефона</label>
                      <input id="tel" type="tel" class="form__input" required />
                    </div>
                  </div>
                </form>
                <button class="btn-reset" type="button">Отправить</button>
              </div>
            </div>
            <div class="form__right">
              <div class="form__rightWrapp">
                <div class="form__rightDesc">
                  <h3>Выберите удобный формат</h3>
                  <p>
                    Оставьте заявку на консультацию или самостоятельно
                    посмотрите ассортимент в каталоге.
                  </p>
                </div>
                <a href="#catalog">Смотреть каталог</a>
              </div>
            </div>
          </div>
        </div>
      </section>