<section class="map">
        <div class="map__wrapp">
          <a href="https://yandex.ru/maps/66/omsk/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:0px;">Омск</a><a
            href="https://yandex.ru/maps/66/omsk/?ll=73.425816%2C54.883083&utm_medium=mapframe&utm_source=maps&z=12.11"
            style="color:#eee;font-size:12px;position:absolute;top:14px;">Карта Омска с улицами и номерами домов —
            Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=73.425816%2C54.883083&z=12.11" width="560"
            height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
      </section>